
#submitBtn{
  color: Blue;
  text-align: center;
  font-size: 11px;
  margin: 4px 2px;
  width:75px;
}

#map{
      height: 750px;
      
      position: static; 
    }
html, body {
        height: 100%;
        background-image: url("/static/images/apartments.jpg");
        background-size: cover;
        padding-top: 20%; 
        margin: 0;
        padding: 0;
      }

.jumbotron {
  /*background-image: url("/static/images/apartments.jpg");*/
  /*background-size: cover;*/
  /*padding-top: 20%; 
  padding-bottom: 20%;
  -webkit-background-size: cover;
  -moz-background-size: cover;*/
  /*-o-background-size: cover;*/
}
  .user_card {
      height: 400px;
      width: 350px;
      margin-top: auto;
      margin-bottom: auto;
      background: #E6B515;
      position: relative;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 10px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-radius: 5px;

    }

  .brand_logo_container {
      position: absolute;
      height: 170px;
      width: 170px;
      top: -75px;
      border-radius: 50%;
      background: #60a3bc;
      padding: 10px;
      text-align: center;
    }
    .brand_logo {
      height: 150px;
      width: 150px;
      border-radius: 50%;
      border: 2px solid white;
    }
    .form_container {
      margin-top: 100px;
    }
    .login_btn {
      width: 100%;
      background: #c0392b !important;
      color: white !important;
    }
    .login_btn:focus {
      box-shadow: none !important;
      outline: 0px !important;
    }
    .login_container {
      padding: 0 2rem;
    }  
h2 {
    font-size: 18px;
    margin: 0 0 5px 0;
    color:green;
  }
#places{
        list-style-type: none;
        margin: 0;
        height: 700px;
        /*width: 300px;*/
        overflow-y: scroll;
      }
li {
    background-color: #f1f1f1;
    padding: 10px;
    color:blue;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
      }
#more{
      width: 30%;
      margin: 5px 0 0 0;
      }
.fav-btn{
      background: coral;
}
.color-btn {
  background: green;
}