
#submitBtn{
  color: Blue;
  text-align: center;
  font-size: 11px;
  margin: 4px 2px;
  width:75px;
}

#map{
      height: 750px;
      
      position: static; 
    }
html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

.jumbotron {
  background-image: url("/static/images/apartments.jpg");
  background-size: cover;
  padding-top: 20%;
  padding-bottom: 20%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
h2 {
    font-size: 18px;
    margin: 0 0 5px 0;
    color:green;
  }
#places{
        list-style-type: none;
        margin: 0;
        height: 700px;
        /*width: 300px;*/
        overflow-y: scroll;
      }
li {
    background-color: #f1f1f1;
    padding: 10px;
    color:blue;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
      }
#more{
      width: 30%;
      margin: 5px 0 0 0;
      }
.fav-btn{
      background: coral;
}
.color-btn {
  background: green;
}