{% extends 'base.html' %}

{% block title %}Apartments Page{% endblock title %}

{% block content %}
    <!-- <span id="user-address"><b>City: {{ address }} "</b> </span> -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8" id="map"></div>
            <div class="col-lg-4" id="results">
                <ul id="places">
                </ul>
                <button id="more">NEXT PAGE </button>  
            </div>
           </div>
        </div>
    </div>    
    <script>
        let address="{{ address }}";
        let userID=false;
        {% if "user_id" in session %}
            userID=true;
        {% endif %}
        let listAptIDFav = {{ list_apt | tojson | safe }};
    </script>    
    <script type="text/javascript" src="/static/js/rental.js"></script>
    <script 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8fKMRnLas5SNsmEzd4sm8YL6TOLLffI4
        &libraries=places&callback=initMap" >
    </script>


{% endblock %}