{% extends 'base.html'%}
{% block title %}Home Page{% endblock title %}
{% block content %}
    <!-- <div class="img-div">    -->
            <!-- <img src='/static/images/home.jpg' style="height:400px; width:100%;"> -->

        <div class="jumbotron text-center">
            <h1>Welcome to MyNest </h1>
            <p>A centralized application that will help you move to a new location</p> 
            <form action="/search">
                <input
                    id="searchTextField"
                    name="address"
                    size="50" 
                    placeholder="Please start typing the city name"
                    type="text"
                    required
                    >
                <input type="submit" value="SEARCH" id="submitBtn">
            </form>
                
        </div>
    <!-- </div> -->


    <script>
        "use strict";

        $(document).ready(function () {
            /*Function to use google.maps Place Autocomplete service  to 
            autocomplete the place name. The event is triggered when the user does 
            keypress  */

            $('#searchTextField').on("keypress",function () {
                const autoComplete = new google.maps.places
                    .Autocomplete(($('#searchTextField').get(0)),{
                        types: ['(cities)'],
                        componentRestrictions: {country: "us"}
                    });
                autoComplete.setFields(['name']);
            });
        }); 
</script> 

<!-- Script tag includes the maps.googleapis.com reference -->

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8fKMRnLas5SNsmEzd4sm8YL6TOLLffI4
     &libraries=places" async defer></script>

{% endblock content %}