{% extends 'base.html'%}
{% block title %}Home Page{% endblock title %}
<style>
    body {
      background-image: url("/static/images/move.jpg");
    }
</style>
{% block content %}
    <div class="jumbotron text-center">
        <h1>Welcome to MyNest </h1>
        <p>A centralized application that will help you move to a new location </p> 
        <form class="form-inline" method="POST">
            <div class="input-group">
                <input
                    id="searchTextField"
                    name="address"
                    size="50" 
                    placeholder="Please start typing the city name"
                    type="text"
                    required
                >
            <div class="input-group-btn">
                <input type="submit" value="SEARCH" id="submitBtn">
            </div>
            </div>
        </form>
    </div>

    <script>
        "use strict";

        $(document).ready(function () {
            /*Function to use google.maps Place Autocomplete service  to 
            autocomplete the place name. The event is triggered when the user does 
            keypress  */

            $('#searchTextField').on("keypress",function () {
                const autoComplete = new google.maps.places
                    .Autocomplete(($('#searchTextField').get(0)),{
                        types: ['(cities)'],
                        componentRestrictions: {country: "us"}
                    });
                autoComplete.setFields(['name']);
            });

            $('#submitBtn').on('click',function (){
                window.onload("/search");
            })
        }); 
</script> 

<!-- Script tag includes the maps.googleapis.com reference -->

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8fKMRnLas5SNsmEzd4sm8YL6TOLLffI4
     &libraries=places" async defer></script>

{% endblock content %}